*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}
.image-fluid{
	width: 100%;
	background-size: cover;
	height: 85vh;
	position: absolute;
	max-width: 100%;
}
.container h1 {
	font-weight: bolder;
	position: relative;
	text-align: center;
	font-size: 2.9rem;
}
.container{
	padding-top: 8%;
}
.container p {
	font-weight: bold;
	position: relative;
	text-align: center;
}
.btn{
	position: relative;
}

.container span{
	color: crimson;
}
.container span {
	color: blue;
	font-weight: bold;
}
#container h2{
	padding-top: 15%;
}

#container .card{
	display: inline-block;
	border-radius: 15px;
	font-weight: bold;
}
#container .card-body {
	border-radius: 15px;
}
.container img {
	width: 400px;
	height: 370px;
	max-width: 100%;
}

.container img {
	width: 500px;
	max-width: 100%;
}
.container8 img{
	border-radius: 5px;
}

.container9 span{
	margin-left: 5px;
}

.container9 h2{
	margin-left: 25%;
	
}

.container10 ul li{
	display: inline-block;
	padding: 0px 10px;
	font-weight: bold;
	font-style: italic;
}
.container10 h1{
	padding-left:40px;
	margin-top: 10px;
}
.container10 i{
	margin-top: 10%;
	padding-left: 10px;

}