*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
}
body{
	height: 100px;
	width: 100%;
	}
main{
	padding-top: 300px;
	font-size: 25px;
	text-align: center;
}
main p{
	padding-top: 20px;
	font-size: 20px;
	text-align: center;
}
button{
	background-color: #CC0066;
	border-radius: 5px;
	border-style: none;
	padding: 10px 30px;
	color: white;
	outline: none;
	cursor: pointer;
	margin-top: 20px;
}
main button:hover{
	font-size: 21px;
}
header ul{
	float: right;
	list-style: none;
}
header{
	padding: 50px;
	font-size: 30px;
}
header span{
	margin-left: 10px;
}
header ul li{
	border-radius: 5px;
	padding: 5px 15px;
	transition-duration: 0.2s;
	display: inline-block;
}
header ul li a{
	text-decoration: none;
}
